.email{
    padding:5rem 5rem 5rem 5rem;
    width: 100%;
    height: 86vh;
}
.text-back-email{
    display: flex;
    width: 100%;
    height: 100%;
    border: 1px solid #1DA1F2;
    box-shadow: 0px 0px 5px #e7f5ff;
    padding: 1rem 1rem 1rem 1rem;
}

.text-back-email:hover{
background-color: #e7f5ff;
}
.text-heading{
    /* display: flex; */
    text-align: center;
     width: 100%; 
    color: black;
    font-size: 3rem;
    font-family: system-ui;
}
.text-heading:hover{
    font-weight: 550;
}
.email_form{
    margin: 1rem auto;
     width: 70%; 
    color: black;
    font-size: 1.5rem;
    font: 'Asomiya_Rohini';
font-family:Asomiya_Rohini;
}
.email_form label{
    text-align: left;
}
.email_form input{
    width: 100%;
    border-radius: 20px;
    text-align: left;
    height:5vh;
    font-size: 1.5rem;
    padding: 0rem 0rem 0rem 1rem;
    border:none;
}
.email_form textarea{
    width: 100%;
    height: 20vh;
    border-radius: 10px;
    font-size: 1.5rem;
    text-align: left;
    padding: 1rem 0rem 0rem 1rem;
    border:none;
}
.email_button{
    margin-top: 1rem;
    width: 10rem;
    height: 4rem;
    /* font-size: 2rem; */
    font-weight: 400;
    border: none;
    border-radius: 5px;
    text-align:center;
    background-color: #00A3FF;
    font-weight: 500;
    font-size: 15px;
    color: #fff;
    padding:0 .2rem 0 .2rem ;
}
.email_button:hover{
    background-color: #595b5e;
    color: #00A3FF;
    font-weight: 900;
    box-shadow: 6px 6px 0px #00A3FF, -6px -6px 0px white;

}
@media (max-width: 62em) {
    .email{
        padding:2rem 2rem 2rem 2rem;
    }
    .text-heading{
        font-size: 2.3rem;
    }


}
@media (max-width: 35em) {
    .email{
        padding:2rem 2rem 2rem 2rem;
    }
    .text-heading{
        font-size: 1.5rem;
    }

}